
extends ../templates/layout

block content

        div 
            h3 Listado de autores
            table(border=1)
                thead 
                    tr
                        th id
                        th nombre
                        th paisOrigen
                        th borrar 
                        th editar
                tbody 
                    each autor in autores
                        tr 
                            td=autor.id
                            td=autor.nombre                        
                            td=autor.paisOrigen
                            td 
                                a(href=`/autor/del/${autor.id}`) borrar 
                            td 
                                a(href=`/autor/edit/${autor.id}`) editar 
            p 
                a(href="/autor/add") Añadir un autor nuevo