
extends ../templates/layout

block content

        div 
            h3 Listado de libros
            table(border=1)
                thead 
                    tr
                        th id
                        th titulo
                        th fPublicacion
                        th precio
                        th borrar 
                        th editar
                tbody 
                    each libro in libros
                        tr 
                            td=libro.id
                            td=libro.titulo                        
                            td=libro.fPublicacion
                            td=libro.precio
                            td 
                                a(href=`/libros/del/${libro.id}`) borrar 
                            td 
                                a(href=`/libros/edit/${libro.id}`) editar 
            p 
                a(href="/libros/add") Añadir un libro nuevo