extends ../templates/layout
block head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
block content

    div.container.mt-4
        h3 Listado de ventas
        table.table.table-bordered.table-hover
            thead.thead-dark
                tr
                    th id
                    th fecha
                    th total
                    th borrar 
                    th editar
            tbody 
                each vent in venta
                    tr 
                        td=vent.id
                        td=vent.fecha
                        td=vent.total
                        td 
                            a.btn.btn-danger.btn-sm(href=`/ventas/del/${vent.id}`) Borrar
                        td 
                            a.btn.btn-warning.btn-sm(href=`/ventas/edit/${vent.id}`) Editar
        p 
            a.btn.btn-primary(href="/ventas/add") Añadir una venta nueva