extends ../templates/layout
block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
block content
    div
        h3 Listado de clientes por nombre  
            each cliente in listaCliente
                if cliente.nombre == nombre
                    #{cliente.nombre}
        div 
            form(id="clientesForm")
                p Seleccione otro nombre para ver las id de las personas que coinciden: 
                select.form-select(name="nombre" id="nombre") 
                    each cliente in listaTClientes
                        if cliente.nombre == nombre
                            option(value=`${cliente.nombre}` selected) #{cliente.nombre}
                        else 
                            option(value=`${cliente.nombre}`) #{cliente.nombre}
        br
        div
            table(class="table")
                thead 
                    tr
                        th id
                        th nombre 
                        th correo
                tbody 
                    each cliente in listaCliente
                        tr 
                            td=cliente.id
                            td=cliente.nombre                        
                            td=cliente.correo

    script(src="/js/clientes.js" type="text/javascript") 