
extends ../templates/layout

block content

        div 
            h3 listado de clientes
            table(border=1)
                thead 
                    tr
                        th id
                        th nombre
                        th correo
                        th borrar 
                        th editar
                tbody 
                    each cliente in clientes
                        tr 
                            td=cliente.id
                            td=cliente.nombre                        
                            td=cliente.correo
                            td 
                                a(href=`/clientes/del/${cliente.id}`) borrar 
                            td 
                                a(href=`/clientes/edit/${cliente.id}`) editar 
            p 
                a(href="/clientes/add") Añadir un cliente nuevo