
extends ../templates/layout

block content

        div 
            h3 Listado de clientes
            table(border=1)
                thead 
                    tr
                        th id
                        th nombre
                        th correo
                        th borrar 
                        th editar
                tbody 
                    each cliente in clientes 
                        tr 
                            td=cliente.id
                            td=cliente.nombre                        
                            td=cliente.correo
                            td 
                                a(href=`/clientes/del/${cliente.id}`) borrar 
                            td 
                                a(href=`/clientes/edit/${cliente.id}`) editar 
            p 
                a(href="/clientes/add") Añadir un cliente nuevo


        div(class="container")
            h3 Listado de clientes por nombre  
                each cliente in clientes
                    if cliente.id == idCliente
                        span #{cliente.nombre}                    
            div(class="container")  
                form(id="clienteForm")
                    p Seleccione otro nombre para ver las id de las personas que coinciden: 
                    select.form-select(name="nombre" id="nombre") 
                        each cliente in clientes
                            if cliente.id == idCliente
                                val clienteNombre = cliente.nombre
                                option(value=`${cliente.id}` selected) #{cliente.nombre}
                            else 
                                option(value=`${cliente.id}`) #{cliente.nombre}
            br
            div(class="container") 
                table(class="table")
                    thead 
                        tr
                            th id
                            th nombre 
                            th correo
                    tbody 
                        each cliente in clientes
                            if cliente.nombre = clienteNombre
                                tr 
                                    td=cliente.id
                                    td=cliente.nombre                        
                                    td=cliente.correo

            div(class="container")
                script(src="./js/clientes.js", type="text/javascript") 
