
extends ../templates/layout

block content

        div 
            h3 listado de clientes
            table(border=1)
                thead 
                    tr
                        th id
                        th nombre
                        th correo
                        th borrar 
                        th editar
                        th Maestro detalle
                tbody 
                    each cliente in clientes 
                        tr 
                            td=cliente.id
                            td=cliente.nombre                        
                            td=cliente.correo
                            td 
                                a(href=`/clientes/del/${cliente.id}`) borrar 
                            td 
                                a(href=`/clientes/edit/${cliente.id}`) editar
                            td 
                                a(href=`/clientes/clientesNombre/${cliente.nombre}`) Clientes por nombre 
            p 
                a(href="/clientes/add") Añadir un cliente nuevo

        script(src="/js/clientes.js" type="text/javascript") 