
extends ../templates/layout

block content

        div 
            h3 listado de clientes
            table(border=1)
                thead 
                    tr
                        th id
                        th nombre
                        th correo
                        th borrar 
                        th editar
                        th Clientes por nombre
                tbody 
                    each cliente in clientes 
                        tr 
                            td=cliente.id
                            td=cliente.nombre                        
                            td=cliente.correo
                            td 
                                a(href=`/clientes/del/${cliente.id}`) borrar 
                            td 
                                a(href=`/clientes/edit/${cliente.id}`) editar 
                            td 
                                a(href=`/clientes/clientesNombre/${clientes.nombre}`) Clientes por nombres
            p 
                a(href="/clientes/add") Añadir un cliente nuevo
                                    
        script(src="/js/clientes.js", type="text/javascript") 
